@model business.Turma

@{
    ViewData["Title"] = "CrudEndPoint";
}

<div class="form-group">
    <input type="button" value="Buscar todas os registros" id="botaoGetTurmas" class="btn btn-primary loader" />    
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrudEndPoint">

            <div>
                <label id="informar" class="control-label">Informar Id</label>
                <input type="number" value="Buscar Turmas" id="codigo" class="form-control" />
                <input type="button" value="Buscar Turma" id="botaoGetTurma" class="btn btn-primary loader" />
            </div>

            <label id="lblMensagem"></label>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LetraIdentificacao" class="control-label"></label>
                <input asp-for="LetraIdentificacao" class="form-control" />
                <span asp-validation-for="LetraIdentificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroSala" class="control-label"></label>
                <input asp-for="NumeroSala" class="form-control" />
                <span asp-validation-for="NumeroSala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materias" class="control-label"></label>
                <input asp-for="Materias" class="form-control" />
                <span asp-validation-for="Materias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EscolaId" class="control-label"></label>
                <select asp-for="EscolaId" class="form-control" asp-items="ViewBag.EscolaId"></select>
                <span asp-validation-for="EscolaId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <input type="button" value="Cadastrar" id="botaoCadastrar" class="btn btn-primary  loader" />
                <input type="button" value="Atualizar" id="botaoAtualizar" class="btn btn-primary  loader" />
                <input type="button" value="Deletar" id="botaoDeletar" class="btn btn-primary loader" />
            </div>

        </form>
    </div>

    <div class="col-md-8">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LetraIdentificacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroSala)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Horario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Escola)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                
            </tbody>
        </table>

    </div>
</div>

<div id="loading"><img src="~/images/loader.gif" /></div>

@section Scripts
    {
        <script type="text/javascript" src="~/js/loader.js"></script>
        <script type="text/javascript">

            buscarTodos();

            function getData()
            {
              var data =
              {
                    Id: $("#codigo").val(),
                    LetraIdentificacao: $("#LetraIdentificacao").val(),
                    NumeroSala: $("#NumeroSala").val(),
                  Materias: $("#Materias").val(),
                  Horario: $("#Horario").val(),
                  EscolaId: $("#EscolaId").val()
                };

                return data;
            }

            $("#botaoCadastrar").on("click", function () {
               
                let data = getData();

                data.Id = 0;

                $.ajax({
                    type: "Post",
                    
                    contentType: 'application/json',
                    url: "https://localhost:44387/api/TurmaApi",
                    data: JSON.stringify(data)         
                }).done(function (response) {

                    $("#lblMensagem").html("Cadastrado com sucesso!");
                    buscarTodos();
                    $("#loading").hide();
                });
                    
            });

            $("#botaoGetTurma").on("click", function () {

                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "https://localhost:44387/api/TurmaApi/" + $("#codigo").val()
                }).done(function (response) {

                    $("#LetraIdentificacao").val(response.letraIdentificacao);
                    $("#NumeroSala").val(response.numeroSala);
                    $("#Materias").val(response.materias);
                    $("#Horario").val(response.horario);
                    $("#EscolaId").val(response.escolaId);
                    $("#loading").hide();
                });
            });


            $("#botaoGetTurmas").on("click", function () {                
                buscarTodos();
                $("#loading").hide();
            });

            function buscarTodos()
            {
                $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: "https://localhost:44387/api/TurmaApi"
                }).done(function (response) {
                    
                    $("#bodyTable").html("");

                    for (var i = 0; i < response.length; i++) {
                        var ele = response[0];

                        document.getElementById("bodyTable").innerHTML += "<tr>" +
                            " <th>" +
                            response[i].id +
                            "</th>     " +
                            " <th>" +
                            response[i].letraIdentificacao +
                            "</th>     " +
                            "<th>      " +
                            response[i].numeroSala +
                            "</th>     " +
                            "<th>      " +
                            response[i].materias +
                            "</th>     " +
                            "<th>      " +
                            response[i].horario +
                            "</th>     " +
                            "<th>      " +
                            response[i].escolaId +
                            "</th>     " +
                            "<th></th> " +
                            "</tr>";
                    }
                });

            }

            $("#botaoAtualizar").on("click", function () {

                let data = getData();

                $.ajax({
                    type: "PUT",
                    contentType: 'application/json',
                    url: "https://localhost:44387/api/TurmaApi/" + $("#codigo").val(),
                    data: JSON.stringify(data)
                }).done(function (response) {                    

                    $("#lblMensagem").html("Atualizado com sucesso");
                    buscarTodos();
                    $("#loading").hide();
                });

            });

            $("#botaoDeletar").on("click", function () {
                
                $.ajax({
                    type: "DELETE",
                    contentType: 'application/json',
                    url: "https://localhost:44387/api/TurmaApi/" + $("#codigo").val(),
                    data: { id: $("#codigo").val() }
                }).done(function (response) {
                    $("#lblMensagem").html("Apagado com sucesso!");
                    buscarTodos();
                    $("#loading").hide();
                });

            });

        </script>
  }

