@model business.Turma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetraIdentificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetraIdentificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escola.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
